{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% macro render_content(contributors) %}

  <div class="jumbotron content-box" style="padding:40px;">
      <h2 class="text-center">About</h2>
      <p><strong>Refurence</strong> is a tool for displaying visual and written references to help artists make commissioned art</p></br>
			<p>create a refurence to:</p></br>
			<p>* describe a fantasy character and their backstory</p></br>
			<p>* cool fursona</p></br>
      <p>* better explain a specific concept or theme</p>
  </div>

  <div class="col-xs-12 content-box">
      <h2 class="text-center">Contributors</h2>
      {% for c in contributors %}
          <div class="media">
              <div class="media-left">
                  <a href="{{ c.url }}">
                      <img class="media-object about-avatar" src="{{ c.image }}"> 
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">{{ c.name }}</h4>
                  {{ c.description }}
              </div>
        </div>
      {% endfor %}
  </div>

  <div class="col-xs-12 content-box">
      <h2 class="text-center">Privacy Policy</h2>
      <ul class="list-group">
          <li class="list-group-item">
          <h4 class="list-group-item-heading">refurence's will do the following:</h4>
              <p class="list-group-item-text">
              - ask for permission to create a folder in your Dropbox via the Dropbox API</br>
              - create its own folder in your Dropbox Apps folders</br>
              - upload, delete, and modify files within its own Dropbox folder</br>
              - in order to make images publicly visible, refurence will automatically "Share so anyone with a link can view" all files in the refurence folder</br>
              - store text and URLs that you add to your refurence into a database</br>
              </p>
          </li>
          <li class="list-group-item">
              <h4 class="list-group-item-heading">refurence's will NOT do the following:</h4>
              <p class="list-group-item-text">
              - store your password.  refurence forces users to login with their credentials through Dropbox; this means refurence will never see your password</br>
              - share your data</br>
              - show ads or make money</br>
              </p>
          </li>
          <li class="list-group-item">
              <h4 class="list-group-item-heading">refurence for Dropbox</h4>
              <p class="list-group-item-text">
              - refurence uses Dropbox for ease of hosting and sharing images for public viewing</br>
              - refurence does NOT have access to anything other than files in the folder it creates in your Dropbox</br>
              - this folder is created as "/Apps/refurence"</br>
              - using Dropbox gives you more control over which images are hosted and how</br>
              - using Dropbox means your images are hosted by a company who's service probably wont be going down anytime soon</br>
              - WARNING: do not only store your images here, refurence isnt liable for any lost images</br>
              - using Dropbox simplifies the process of logging in</br>
              </p>
          </li>
          <li class="list-group-item">
              <h4 class="list-group-item-heading">open source</h4>
              <p class="list-group-item-text"> All code is public and can be seen <a href="https://github.com/dbdeadbeat/refurence">HERE ON GITHUB</a>
              </p>
          </li>
      </ul>
  </div>
{% endmacro %}


{% block content %}
<div class="container-fluid">
    {% if request.MOBILE %}
    {{ render_content(contributors) }}
    {% else %}
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        {{ render_content(contributors) }}
    </div>
    <div class="col-xs-2"></div>
    {% endif %}
</div>
{{ super() }}
{% endblock %}
