{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% macro render_content(contributors) %}

  <div class="jumbotron content-box" style="padding:40px;">
      <h1 class="text-center">About</h1>
      <p><strong>Refurence</strong> is a service for bringing together visual and text references to assist the art-making process</p>
      <p><strong>Email:</strong> edeadbeat@gmail.com for any issues, questions, or comments</p>
      <p><strong>Github:</strong> 
      <a href="https://github.com/dbdeadbeat/refurence">https://github.com/dbdeadbeat/refurence</a>
      </p>
  </div>

  <div class="col-xs-12 content-box">
      <h2 class="text-center">Contributors</h2>
      {% for c in contributors %}
          <div class="media">
              <div class="media-left">
                  <a href="{{ c.url }}">
                      <img class="media-object about-avatar" src="{{ c.image }}"> 
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">{{ c.name }}</h4>
                  {{ c.description }}
              </div>
        </div>
      {% endfor %}
  </div>
{% endmacro %}


{% block content %}
<div class="container-fluid">
    {% if request.MOBILE %}
        {{ render_content(contributors) }}
    {% else %}
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
        {{ render_content(contributors) }}
        </div>
        <div class="col-xs-2"></div>
    {% endif %}
</div>
{{ super() }}
{% endblock %}
