
html, body, .container-fluid, .row {
		height: 100%;
		width: 100%;
}

body {
		background: black;
		background-color: rgba(25, 25, 25, 1.00);
}

#neo-nav {
		top: 0px;
		left: 0px;
		right: 0px;
		font-family: "Cabin";
		font-size: 12px;
		border: none;
		border-bottom: 0px solid #CCC;
		border-radius: 0px;
		height: 20px;
}

#neo-nav a {
		color: gray;
		font-weight: bold;
}

#neo-nav a:hover {
		background-color: rgba(255, 255, 255, 0.25);
		color: #0b3347;
text-shadow: none; }

#neo-nav ul {
margin-left: 8px; }

#neo-nav .navbar-logo:hover {
background-color: inherit; }

#neo-nav-container {
		background-color: rgba(20, 20, 20, 0.0);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: rgba(10, 10, 10, 1.0);
}

.navbar-nav > li > a, .navbar-brand {
		padding-top:4px !important; 
		padding-bottom:0 !important;
		height: 22px;
}

.navbar {min-height:22px !important;
}

.sidebar {
		background-color: #CCCCCC;
}

@media (min-width: 992px) {
		.sidebar {
				position: fixed;
				top: 22px;
				left: 0;
				bottom: 0;
				z-index: 1000;
				display: block;
				box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5), 1px 1px 5px 0px rgba(0, 0, 0, 0.5)
		}
}

.content {
		padding-top: 32px;
}

.sidebar {
		padding: 0px;
		background-color: rgba(40, 40, 40, 1.0);
}

.sidebar .col-xs-12{
		padding: 0px;
}

.sidebar .btn {
		padding-top: 10px;
		padding-bottom: 10px;
		overflow: hidden;
		white-space: normal;
		text-overflow: ellipsis;
		text-align: left;
		width: 100%;
		box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5), 1px 1px 15px 0px rgba(0, 0, 0, 0.5)
}

.description-content {
		margin-left: 8px;
		margin-right: 8px;
}

.avatar-img {
		max-width: 125px;
		max-height: 125px;
}

#header {
		padding: 0px;
		padding-top: 0px;
		padding-bottom: 30px;
}

#description-panels {
		padding-bottom: 30px;
}

.panel-group .panel+.panel {
		margin-top: 0px;
}

.panel-footer {
		background-color: rgba(0,0,0,0.25);
		border: 0px;
}

.panel-data-toggle {
		width: 100%;
		height: 100%;
		padding: 0px;
		box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5), 1px 1px 5px 0px rgba(0, 0, 0, 0.5)
}

.panel-body {
		margin: 0px;
		margin-bottom: 10px;
		padding: 0px;
}

.panel-body-text {
		border-radius: 5px;
		/* min-height: 100px; */
}

.panel-heading {
}

.clicked {
		background-color: red;
}

#container-content {
		width: 100%;
}

.img-description {
		max-height: 500px;
		max-width: 100%;
		box-shadow: 0px 0px 75px rgba(255,255,255,0.35);
}

.description-img-well {
}

.imglink-img {
  width: 32px;
}
