
@import url(http://fonts.googleapis.com/css?family=Corben|Bitter|Merriweather|Comfortaa|Marmelad|Cabin);


$primary: #125273;


$box-bg: rgba(68, 68, 78, 0.85);
$box-bg-dark: rgba(48, 48, 68, 0.5);



$font-small: 10px;
$font-normal: 14px;
$font-medium: 18px;
$font-large: 24px;
$font-xl: 36px;