{% macro render_header_inline_style(profile) %}
<style id="header_style">
h1, h2, h3, h4, h5 {
    color :  {{profile.colors[COLOR_HEADERS]}};
}
</style>
<style id="style_{{FONT_HEADERS}}">
h1, h2, h3, h4, h5 {
    font-family : {{profile.fonts[FONT_HEADERS]}};
}
</style>
<style id="text_style">
p, td, tr, li {
  color :  {{profile.colors[COLOR_TEXT]}};
}
</style>
<style id="style_{{FONT_TEXT}}">
p, td, tr, li {
  font-family : {{profile.fonts[FONT_TEXT]}};
}
</style>
<style id="links_style">
a {
  color :  {{profile.colors[COLOR_LINKS]}};
}
</style>
<style id="tabs_style">
.desc_table_tab_name {
  background-color :  {{profile.colors[COLOR_TABS]}};
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color :  {{profile.colors[COLOR_TABS]}};
}
</style>
<style>
#maincontainer, #sidebar_container {
  background-color :  {{profile.colors[COLOR_MAIN]}}
}
#inner_container {
  background-color :  {{profile.colors[COLOR_INNER]}}
}
</style>
<style>
#maincontainer, #sidebar_container {
  background-color :  {{profile.colors[COLOR_MAIN]}}
}
#inner_container {
  background-color :  {{profile.colors[COLOR_INNER]}}
}
</style>
{% endmacro %}

{% macro imglink(link) %}
    <a href="{{ link.link_url }}">
    <div class="col-xs-12 imglink-container">
        <img class="centered imglink-img" src="{{ link.img_url }}">
    </div>
  </a>
{% endmacro %}

{% macro render_sidebar(sidebar) -%}
<div class="col-xs-1 fill" id="sidebar_container" style="margin-right:10px;">
  <div class="row">
  {% for i in range(0, sidebar.img_links|length) %}
    {{ imglink(sidebar.img_links[i]) }}
    {% if i != sidebar.img_links|length-1 %}
    <div class="col-xs-12 fill hr"></div>
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro render_header(header) -%}
<div class="row" id="header">
    {% if header.avatar_url %}
    <div class="col-xs-9">
        <h1 class="text-editable">{{ header.title }}</h1>
        <h4 class="text-editable">{{ header.body }} </h4>
    </div>
    <div class="col-xs-3" id="avatar_container">
      <img id="{{AVATAR_IMG}}" class="porthole avatar-img" src="{{ header.avatar_url }}">
    </div>
    {% else %}
    <div class="col-xs-12">
        <h1 class="text-editable">{{ header.title }}</h1>
        <h4 class="text-editable">{{ header.body }} </h4>
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_description(description) -%}

<h4 class="text-editable">{{description.title}}</h4>
<ul class="nav nav-pills">
  {% for i in range(0, description.tables.keys()|length) %}
    {% if i == 0 %} <li class="active"> {% else %} <li> {% endif %}
    <a href="#table{{i}}" data-toggle="tab" class="desc_table_tab_name text-editable">{{ description.get_keys()[i] }}</a>
    </li>
  {% endfor %}
</ul>
<div class="tab-content text">
{% for i in range(0, description.tables.keys()|length) %}
  <div class="tab-pane fade {% if i == 0 %}in active{% endif %}" id="table{{i}}">
      <div class="table-responsive">
        <table class="table table-condensed table-hover">
          {% for row in description.get_tables()[i].rows %}
            <tr>
              {% for j in range(0,row.cells|length) %}
              <td class="desc_cell {%if j == 0 and row.cells|length > 1 %}td-header-cell{% endif %}">{{ row.cells[j] }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
{% endfor %}
</div>
{% endmacro %}

{% macro render_links_gallery(gallery) %}
{% for url in gallery.img_urls %}
  <a href="{{ url }}" title="{{ url }}" data-gallery>
    <img style="max-width:100%" src="{{ url }}"> 
  </a>
{% endfor %}
{% for url in gallery.get_hosted_images() %}
  <a href="{{ url }}" title="{{ url }}" data-gallery>
    <img style="max-width:100%" src="{{ url }}"> 
  </a>
{% endfor %}
{% endmacro %}

{% macro render_gallery(gallery) %}
<h4> {{gallery.title}} </h4>
<ul class="nav nav-pills">
  {% for i in range(0, gallery.tables.keys()|length) %}
    {% if i == 0 %} <li class="active"> {% else %} <li> {% endif %}
    <a href="#gallery_tab{{i}}" data-toggle="tab">{{ gallery.get_keys()[i] }}</a>
    </li>
  {% endfor %}
</ul>
<div class="tab-content text">
{% for i in range(0, gallery.tables.keys()|length) %}
  <div class="tab-pane fade {% if i == 0 %}in active{% endif %}" id="gallery_tab{{i}}">
      <div class="col-xs-12">
        <div id="links" class="gallery-links">
          {{ render_links_gallery(gallery.get_tables()[i]) }}
        </div>
      </div>
  </div>
{% endfor %}
</div>
{% endmacro %}
