{% macro render_header_inline_style(profile) %}
<style id="header_style">
h1, h2, h3, h4, h5 {
    color :  {{profile.colors[COLOR_HEADERS]}};
}
.panel-heading {
    color :  {{profile.colors[COLOR_HEADERS]}};
}
</style>
<style id="style_{{FONT_HEADERS}}">
h1, h2, h3, h4, h5 {
    font-family : {{profile.fonts[FONT_HEADERS]}};
}
.panel-heading {
    font-family : {{profile.fonts[FONT_HEADERS]}};
}
</style>
<style id="text_style">
p, td, tr, li {
  color :  {{profile.colors[COLOR_TEXT]}};
}
.panel-body {
  color :  {{profile.colors[COLOR_TEXT]}};
}
</style>
<style id="style_{{FONT_TEXT}}">
p, td, tr, li {
  font-family : {{profile.fonts[FONT_TEXT]}};
}
.panel-body {
  font-family : {{profile.fonts[FONT_TEXT]}};
}
</style>
<style id="links_style">
a:link { color :  {{profile.colors[COLOR_HEADERS]}}; }
a:hover { color :  {{profile.colors[COLOR_HEADERS]}}; }
button > a  { color :  {{profile.colors[COLOR_HEADERS]}}; }
.col-xs-4 > a  { color :  {{profile.colors[COLOR_HEADERS]}}; }
.btn-group > a  { color :  {{profile.colors[COLOR_HEADERS]}}; }
</style>
<style id="tabs_style">
.nav-pills>li {
  background-color :  {{profile.colors[COLOR_MAIN]}};
}
.nav-pills>li>a {
  color :  {{profile.colors[COLOR_HEADERS]}};
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color :  {{profile.colors[COLOR_HEADERS]}};
}
</style>
<style>
#maincontainer, #sidebar_container {
  background-color :  {{profile.colors[COLOR_MAIN]}};
}
#inner_container {
  background-color :  transparent;
}
.panel {
  background-color :  {{profile.colors[COLOR_INNER]}};
}
.panel-heading {
  background-color :  {{profile.colors[COLOR_INNER]}};
}
.panel-heading:hover {
  background-color :  {{profile.colors[COLOR_HEADERS]}};
}
</style>
{% endmacro %}

{% macro render_avatarimg(header) %}
<div id="{{AVATAR_IMG}}" class="img-circle avatar-img centered"
    style="background: url({{header.get_avatar_url()}}) 50% 50% / cover no-repeat;">
</div>
{% endmacro %}

{% macro imglink(link, number, editable) %}
{% if not editable %} <a href="{{ link.link_url }}"> {% endif %}
    <div class="col-xs-12 imglink-container">
        {% if editable %}
        <button type="button" id="imglink_{{number}}" class="btn btn-xs btn-danger btn-editable-imglink" data-toggle="popover">
            <div class="dropzone imglink-drop" id="imglink-drop-{{number}}">
                <p style="text-align: center">
        {% endif %}
            <img class="centered imglink-img" src="{{ link.get_image_url() }}">
        {% if editable %}
                </p>
            </div>
        </button>
        {% endif %}
    </div>
{% if not editable %}</a>{% endif %}
<div class="col-xs-12 fill hr"></div>
{% endmacro %}

{% macro render_sidebar(sidebar, editable) -%}
<div id="sidebar" style="margin-top: 30px;">
    {% for i in range(0, sidebar.img_links|length) %}
        {{ imglink(sidebar.img_links[i], i, editable) }}
    {% endfor %}
</div>
{% endmacro %}

{% macro render_header(header, editable) -%}
<div class="col-xs-12" id="header">
    <div class="col-xs-9">
        <h1 id="{{HEADER_TITLE}}" class="text-editable" contenteditable="{{editable}}">{{ header.title }}</h1>
        <h4 id="{{HEADER_BODY}}" class="text-editable" contenteditable="{{editable}}">{{ header.body }}</h4>
    </div>
    <div class="col-xs-3" id="avatar_container">
        {% if editable %}
            <div class="col-xs-12 dropzone avatar-drop" id="avatar-drop">
                <p style="text-align: center">
                <div id="avatar">
                    {{ render_avatarimg(header) }}
                </div>
                </p>
                <div class="dz-message">
                  <span class="glyphicon glyphicon-picture" aria=hidden="true"></span>
                  <em> Drop file to change Avatar</em>
                </div>
            </div>
        {% else %}
            {{ render_avatarimg(header) }}
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_notes(notes, editable) %}
<div class="panel">
    <div class="panel-heading" id="{{NOTES_TITLE}}" contenteditable="{{editable}}">{{ profile.notes.title }}</div>
    <div class="panel-body">
        <p id="{{NOTES_BODY}}" class="text-editable" contenteditable="{{editable}}">{{ profile.notes.body }}</p>
    </div>
</div>
{% endmacro %}

{% macro render_description_content(description, editable) %}
{%if editable %}
{% for i in range(0, description.tables.keys()|length) %}
<div class="panel description-content" id="description-content-{{i}}">
    <div class="panel-heading" contenteditable="True">
        <h4 id="description-title-{{i}}" class="description-title pull-left"> {{ description.get_keys()[i] }} </h4>
        <button class="btn-xs btn-danger pull-right btn-delete-description"
            id="btn-delete-description-{{i}}" type="button"
            contenteditable="False">
            <span class="glyphicon glyphicon-remove" aria=hidden="true"></span>
        </button>
    </div>
    {% if description.get_tables()[i].get_image_links()[0] %}
    <div class="panel-body dropzone description-drop" id="description-drop-{{i}}" style="background: url({{description.get_tables()[i].get_image_links()[0]}}) 50% 50% / cover no-repeat; min-height: 500px;">
    {% else %}
    <div class="panel-body dropzone description-drop" id="description-drop-{{i}}">
    {% endif %}
        <div class="row">
            <div class="col-xs-6 panel-body-text">
                <p id="description-body-{{i}}" class="description-body text-editable" contenteditable="{{editable}}">{{ description.get_tables()[i].get_text() }}</p>
            </div>
            <div class="col-xs-6"> </div>
        </div>
        <div class="dz-message">
          <span class="glyphicon glyphicon-picture" aria=hidden="true"></span>
          <em> Drop file to add image to Note</em>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for i in range(0, description.tables.keys()|length) %}
    <div class="panel description-content" id="description-content-{{i}}">
        <div class="panel-heading" role="tab" id="heading{{i}}">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" aria-expanded="true" aria-controls="collapse{{i}}">
                <h4 class="panel-title">{{ description.get_keys()[i] }}</h4>
            </a>
        </div>
        <div id="collapse{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{i}}">
            {% if description.get_tables()[i].get_image_links()[0] %}
            <div class="panel-body" style="background: url({{description.get_tables()[i].get_image_links()[0]}}) 50% 50% / cover no-repeat; min-height: 500px;">
            {% else %}
            <div class="panel-body">
            {% endif %}
                <div class="row">
                    <div class="col-xs-6 panel-body-text" 
                        {% if not description.get_tables()[i].get_text() %}
                        style="background-color: transparent;"
                        {% endif %}
                        >
                        <p class="text-editable">{{ description.get_tables()[i].get_text() }}</p>
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro render_description(description, editable) -%}
<div id="description-content">
{{ render_description_content(description, editable) }}
</div>
{% if editable %}
<div class="col-xs-12" style="text-align:center;">
<button id="btn_desc_tbl_add" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria=hidden="true"></span>
    Add New Note
</button>
</div>
{% endif %}
{% endmacro %}

{% macro render_links_gallery(gallery) %}
{% for url in gallery.get_image_urls()%}
    <!-- <div class="item" style="background: url({{url}}) 50% 50% no-repeat; /* 50% 50% centers image in div */ background-size: cover;"> -->
        <a href="{{ url }}" title="{{ url }}" data-gallery>
            <img class="post" src="{{ url }}" alt="" style="{{gallery.get_image_style(url)}}">
        </a>
  <!-- </div> -->
{% endfor %}
{% endmacro %}

{% macro render_gallery(gallery) %}
<ul class="nav nav-pills">
  {% for i in range(0, gallery.tables|length) %}
    {% if i == 0 %} <li class="active"> {% else %} <li> {% endif %}
    <a class="gallery-nav" href="#gallery-tab-{{i}}" data-toggle="tab">{{ gallery.get_table_names()[i] }}</a>
    </li>
  {% endfor %}
</ul>
<div class="tab-content text">
{% for i in range(0, gallery.tables|length) %}
  <div role="tabpanel" class="tab-pane fade {% if i == 0 %}in active{% endif %}" id="gallery-tab-{{i}}">
        <div class="row gallery-links posts">
            {{ render_links_gallery(gallery.get_tables()[i]) }}
        </div>
  </div>
{% endfor %}
</div>
{% endmacro %}

{% macro render_popovers(profile) %}
{% for i in range(0, profile.sidebar.img_links|length) %}
<div id="imglink-popover-content-{{i}}" style="display: none;">
    <em>To Change Button Icon:</em></br></br>
    <p> <span class="glyphicon glyphicon-arrow-left" aria=hidden="true"></span> drag and drop file onto picture</p>
    <div class="col-xs-12 fill hr"></div>
    <em>To Change Button URL:</em>
    <div class="input-group">
        <span class="input-group-addon">URL</span>
        <input type="text" id="input-imglink-href-{{i}}"
        class="form-control" placeholder="{%if
        profile.sidebar.img_links[i].link_url %}{{ profile.sidebar.img_links[i].link_url }}{% else %}enter url here (optional){% endif %}">
        </span>
    </div>
    <div class="col-xs-12 hr"></div>
    <p style="text-align:center'">
        <button id="btn_imglink_submit_{{number}}" class="btn btn-default
            btn-imglink-submit" type="button"
            onclick="Sijax.request('update_imglink', [{
                'num': {{i}},
                'href': $('#input-imglink-href-{{i}}').val()
            }]);">submit</button>
        <button id="btn-imglink-delete-{{i}}" class="btn btn-danger btn-imglink-delete" type="button" 
            onclick="Sijax.request('del_imglink', [{ 'num': {{i}} }]);">delete</button>
    </p>
</div>

<div id="imglink-popover-title-{{i}}" style="display: none;">
    <h4>Edit ImageLink</h4>
</div>

<script type="text/javascript">
$(function() {
    $('#imglink_{{i}}').popover({
        html : true, 
        content: function() {
            return $("#imglink-popover-content-{{i}}").html();
        },
        title: function() {
            return $("#imglink-popover-title-{{i}}").html();
        }
    });

    var myDropzone = new Dropzone('#imglink-drop-{{i}}', {
        url: "/upload/",
        method: "POST",
        paramName: "file",
        uploadMultiple: false,
        addRemoveLinks: false,
        createImageThumbnails: false,
        maxThumbnailFilesize: 2,
        maxFiles: 1,
        acceptedFiles: "image/png, image/jpeg, image/gif",
        autoProcessQueue: true,
        forceFallback: false,
        clickable: false,
        dictDefaultMessage: '',
        previewTemplate: '<div id="preview-template" style="display: none;"></div>'
    });

    myDropzone.on("success", function(file, response) {
        Sijax.request('update_imglink_image', [{
            'num' : {{i}},
            'files': response['files']
        }]);
    });

    myDropzone.on("complete", function(file) {
        myDropzone.removeAllFiles();
    });

});
</script>
{% endfor %}
{% endmacro %}
