{% import "profiles/_content.html" as content with context %}

<!-- BEGIN MACROS -->

{% macro render_navtabs_gallery(gallery) %}
<ul class="nav nav-pills">
  {% for i in range(0, gallery.get_tables()|length) %}
    {% if i == 0 %} <li class="active gallery_tab_li"> {% else %} <li class="gallery_tab_li"> {% endif %}
    <a href="#gallery-tab-{{i}}" data-toggle="tab" contenteditable="true"
        class="gallery_table_tab_name text-editable">{{ gallery.get_table_names()[i] }}</a>
      </li>
  {% endfor %}
</ul>
{% endmacro %}

{% macro render_gallery_table_links(table) %}
<div class="posts">
  {% for url in table.get_image_urls() %}
    <div class="overlay post">
      <img src="{{ url }}"> 
      <div class="caption btn_gallery_del_img">
          <span class="badge badge-gallery-delete">
            <span class="glyphicon glyphicon-remove" aria=hidden="true"></span>
          </span>
      </div>
    </div>
  {% endfor %}
</div>
{% endmacro%}

{% macro render_table_gallery(gallery) %}
{% for i in range(0, gallery.get_tables()|length) %}
<div class="tab-pane fade {% if i == 0 %}in active{% endif %}" id="gallery-tab-{{i}}">
    <div id="links{{gallery.get_tables()[i].order}}" class="gallery-links">
      {{ render_gallery_table_links(gallery.get_tables()[i]) }}
    </div>
    <div class="col-xs-12 dropzone gallery-drop" id="gallery-drop-{{i}}">
        <div class="dz-message">
          <span class="glyphicon glyphicon-picture" aria=hidden="true"></span>
          <em> Drop files to add to Gallery</em>
        </div>
    </div>
</div>
{% endfor %}
{% endmacro %}

{% macro render_editablegallery(gallery) %}
<div class="row">
  <div class="col-xs-12">
    <div id="navtabs_gallery">
        {{ render_navtabs_gallery(gallery) }}
    </div>
  </div>
</div>
<div class="col-xs-12" id="gallery-editable">
  <div class="tab-content text" id="table_gallery">
    {{ render_table_gallery(gallery)}}
  </div>
</div>
<div id="btn-edit-gallery" class="col-xs-12" style="text-align:center;">
  <div class="btn-group" role="group" aria-label="...">
      <button id="btn_gallery_add" type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-plus" aria=hidden="true"> </span>
          Add New Gallery
      </button>
      <button id="btn_gallery_del" type="button" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove" aria=hidden="true"> </span>
          Delete Gallery
      </button>
  </div>
</div>
{% endmacro %}
<!-- END MACROS -->
