{% import "profiles/_content.html" as content with context %}

<!-- BEGIN MACROS -->

{% macro render_navtabs_gallery(gallery) %}
<ul class="nav nav-pills">
  {% for i in range(0, gallery.get_tables()|length) %}
    {% if i == 0 %} <li class="active gallery_tab_li"> {% else %} <li class="gallery_tab_li"> {% endif %}
    <a href="#gallery-tab-{{i}}" data-toggle="tab" contenteditable="true"
        class="gallery_table_tab_name text-editable">{{ gallery.get_table_names()[i] }}</a> </li>
  {% endfor %}
</ul>
{% endmacro %}

{% macro render_gallery_table_links(table) %}
{% for url in table.get_image_urls() %}
<button type="button" class="btn btn-xs btn-danger btn_gallery_del_img">

  <a href="{{ url }}" title="{{ url }}" data-gallery>
    <img style="max-width:100%" src="{{ url }}"> 
  </a>

<p> click to remove </p>
</button>
{% endfor %}
{% endmacro%}

{% macro render_table_gallery(gallery) %}
{% for i in range(0, gallery.get_tables()|length) %}
<div class="tab-pane fade {% if i == 0 %}in active{% endif %}" id="gallery-tab-{{i}}">
    <div id="links{{gallery.get_tables()[i].order}}" class="gallery-links">
      {{ render_gallery_table_links(gallery.get_tables()[i]) }}
    </div>
    <div class="col-xs-12 dropzone gallery-drop" id="gallery-drop-{{i}}">
        <div class="dz-message">Drag and drop files to add</div>
    </div>
</div>
{% endfor %}
{% endmacro %}

{% macro render_editablegallery(gallery) %}
<div class="input-group">
    <div id="navtabs_gallery">
        {{ render_navtabs_gallery(gallery) }}
    </div>
</div><!-- /input-group -->
<div class="tab-content text" id="table_gallery">
  {{ render_table_gallery(gallery)}}
</div>
<div class="text-center">
    <div class="btn-group" role="group" aria-label="...">
        <button id="btn_gallery_add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria=hidden="true"> Add Another</span>
        </button>
        <button id="btn_gallery_del" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-minus" aria=hidden="true"> Delete Selected</span>
        </button>
    </div>
</div>
{% endmacro %}


{% macro render_editablejs() %}
<script type=text/javascript>
  function br2nl(str) {
      return str.replace(/<br>/mg,"\n");
  }

  function getDescriptionTable() {
    var content = $(".description-content");
    var out = {};
    for (var idx = 0; idx < content.length; idx++) {
      var c = content[idx];
      console.log('conent', $(c));
      var header = $(c.children[0]).text();
      header = br2nl(header);
      var body = $($($(c.children[1]).children()[2]).children()[0]).text();
      body = br2nl(body);
      console.log(header, body);
      out[header] = {'order': idx, 'rows': [[body]]};
    }
    return out;
  }

  function getGalleryTableTabs() {
    var gallery_tabs = document.querySelectorAll(".gallery_table_tab_name");
    var out = [];
    for (var idx = 0; idx < gallery_tabs.length; idx++) {
      out[idx] = gallery_tabs[idx].text;
    }
    return out;
  }

  function getActiveGalleryTabName() {
    return document.querySelector('.active.gallery_tab_li').children[0].text;
  }

  function getActiveGalleryNum () {
    var sel = $('.active.tab-pane').attr('id');
    var toks = sel.split('-');
    return toks[toks.length-1];
  }

  function createDescriptionDropZone(div_id) {
    var myDropzone = new Dropzone('#' + div_id, {
        url: "/upload/",
        method: "POST", // can be changed to "put" if necessary
        paramName: "file", // The name that will be used to transfer the file
        uploadMultiple: true, // This option will also trigger additional events (like processingmultiple).
        addRemoveLinks: false, // add an <a class="dz-remove">Remove file</a> element to the file preview that will remove the file, and it will change to Cancel upload
        createImageThumbnails: true,
        maxThumbnailFilesize: 2, // in MB
        thumbnailWidth: 300,
        thumbnailHeight: 300,
        maxFiles: 1,
        acceptedFiles: "image/png, image/jpeg, image/gif", //This is a comma separated list of mime types or file extensions.Eg.: image/*,application/pdf,.psd.
        autoProcessQueue: true, // When set to false you have to call myDropzone.processQueue() yourself in order to upload the dropped files. 
        forceFallback: false,
    });

    myDropzone.on("success", function(file, response) {
        var toks = div_id.split('-');
        var num = toks[toks.length-1];
        Sijax.request('add_image_to_description', [ {'num': num, 'files': response['files']} ], {'async': false});
    });

    myDropzone.on("complete", function(file) {
        myDropzone.removeAllFiles();
        refreshDescriptionDropZones();
    });

  }

  function refreshDescriptionDropZones() {
      var descriptionDrops = $('.description-drop');
      for (var idx = 0; idx < descriptionDrops.length; idx++)
          createDescriptionDropZone($(descriptionDrops[idx]).attr('id'));
  }

  function createGalleryDropZone(div_id) {
    var myDropzone = new Dropzone('#' + div_id, {
        url: "/upload/",
        method: "POST", // can be changed to "put" if necessary
        paramName: "file", // The name that will be used to transfer the file
        uploadMultiple: true, // This option will also trigger additional events (like processingmultiple).
        addRemoveLinks: false, // add an <a class="dz-remove">Remove file</a> element to the file preview that will remove the file, and it will change to Cancel upload
        createImageThumbnails: true,
        maxThumbnailFilesize: 2, // in MB
        thumbnailWidth: 300,
        thumbnailHeight: 300,
        acceptedFiles: "image/png, image/jpeg, image/gif", //This is a comma separated list of mime types or file extensions.Eg.: image/*,application/pdf,.psd.
        autoProcessQueue: true, // When set to false you have to call myDropzone.processQueue() yourself in order to upload the dropped files. 
        forceFallback: false,
    });

    myDropzone.on("successmultiple", function(files, response) {
        var toks = div_id.split('-');
        var num = toks[toks.length-1];

        for (var idx = 0; idx < files.length; idx++) {
          myDropzone.removeFile(files[idx]);
        }

        Sijax.request('add_image_to_gallery', [{
            'num': num,
            'files': response['files']
            }]
        );
    });
  }

  function refreshGalleryDropZones() {
      var galleryDrops = $('.gallery-drop');
      for (var idx = 0; idx < galleryDrops.length; idx++) {
          createGalleryDropZone($(galleryDrops[idx]).attr('id'));
      }
  }

  function createAvatarDropZone(div_id) {
    var myDropzone = new Dropzone('#' + div_id, {
        url: "/upload/",
        method: "POST",
        paramName: "file",
        uploadMultiple: false,
        addRemoveLinks: false,
        createImageThumbnails: true,
        maxThumbnailFilesize: 2,
        thumbnailWidth: 128,
        thumbnailHeight: 128,
        maxFiles: 1,
        acceptedFiles: "image/png, image/jpeg, image/gif",
        autoProcessQueue: true,
        forceFallback: false,
    });

    myDropzone.on("success", function(file, response) {
        Sijax.request('update_avatar_url', [ { 
            'files': response['files']
          }
        ]);
    });

    myDropzone.on("complete", function(file) {
        myDropzone.removeAllFiles();
    });

  }

  function createBkgDropZone(div_id) {
    var myDropzone = new Dropzone('#' + div_id, {
        url: "/upload/",
        method: "POST",
        paramName: "file",
        uploadMultiple: false,
        addRemoveLinks: false,
        createImageThumbnails: true,
        maxThumbnailFilesize: 2,
        thumbnailWidth: 128,
        thumbnailHeight: 128,
        maxFiles: 1,
        acceptedFiles: "image/png, image/jpeg, image/gif",
        autoProcessQueue: true,
        forceFallback: false,
    });

    myDropzone.on("success", function(file, response) {
        Sijax.request('change_bkg_dropbox', [ {
            'files': response['files']
          } ]);
    });

    myDropzone.on("complete", function(file) {
        myDropzone.removeAllFiles();
    });

  }

  function loadJS() {
    $('button#btn_sidebar_add_link').on('click', function() {
        Sijax.request('add_imglink', [ {} ]);
    });
    $('button#btn_sidebar_del_link').on('click', function() {
        Sijax.request('del_imglink', [ {} ]);
    });
    $('button#btn_desc_tbl_add').on('click', function() {
        Sijax.request('add_desc_table', [ {
            '{{DESC_TABLE}}'  : getDescriptionTable(),
            }], {'async': false});

        refreshDescriptionDropZones();
    });
    $('button#btn_gallery_add').on('click', function() {
        Sijax.request('add_gallery', [ {} ], {'async': false});
        refreshGalleryDropZones();
    });
    $('button#btn_gallery_del').on('click', function() {
        Sijax.request('del_gallery', [ { active : getActiveGalleryNum() } ],
            {'async': false});
        refreshGalleryDropZones();
    });
    $('body').on('click', '.btn_gallery_del_img', function() {
        Sijax.request('gallery_del_image', [ {
            active : getActiveGalleryNum(),
            url : this.children[0].href,
          }]
        );
    });

    $('#btn_saveprofile').bind('click', function() {
        Sijax.request('save_profile', [
          {
            '{{HEADER_TITLE}}': br2nl($('#{{HEADER_TITLE}}').html()),
            '{{HEADER_BODY}}' : br2nl($('#{{HEADER_BODY}}').html()),
            '{{NOTES_TITLE}}'  : br2nl($('#{{NOTES_TITLE}}').html()),
            '{{NOTES_BODY}}'  : br2nl($('#{{NOTES_BODY}}').html()),
            '{{DESC_TABLE}}'  : getDescriptionTable(),
            '{{GALLERY_TABS}}': getGalleryTableTabs(),
          }
        ]);
        return false;
    });

    $('#btn_discard').bind('click', function() {
        Sijax.request('discard_changes', [ { } ]);
        return false;
    });

    // image link popovers
    $('body').on('click', '.btn-editable-imglink', function (e) {
        $(this).popover('show');
    });

    $('body').on('click', '.btn-imglink-submit', function (e) {
        var toks = e.target.id.split('_');
        var num = toks[toks.length-1];
        $('#imglink_'+num).popover('hide');

        var imgurl = document.getElementById('input_imglink_icon_'+num).value;
        var href = document.getElementById('input_imglink_href_'+num).value;
        Sijax.request('update_imglink', [{
          'num': parseInt(num),
          'imgurl' : imgurl,
          'href' : href
        }]);
    });

    $('body').on('click', '.btn-imglink-delete', function (e) {
        var toks = e.target.id.split('_');
        var num = toks[toks.length-1];
        $('#imglink_'+num).popover('hide');
        Sijax.request('del_imglink', [{
          'num': parseInt(num)
        }]);
    });

    var content_edited = false;
    $('body').on('keydown', '[contenteditable="True"]', function (e) {
      content_edited = true;
      if (e.keyCode === 13) {
        document.execCommand('insertHTML', false, '<br>');
        return false;
      }
    });

    $('a').on('paste', function (evt) {
        var thisclass = $(this).attr("class");
        if (thisclass == 'gallery_table_tab_name text-editable')
          return false;
    });

    $('body').on('paste', '[contenteditable="True"]', function (evt) {
        var thisclass = $(this).attr("class");
        if (thisclass == 'panel-heading' || thisclass == 'btn' || thisclass == 'gallery_table_tab_name') {
          return false;
        }

        if(evt.originalEvent.clipboardData || window.clipboardData)  {
          evt.preventDefault();
          //webkit (and bleeding edge Firefox)
          var selection = window.getSelection ? window.getSelection() : document.selection;
          var range = selection.getRangeAt ? selection.getRangeAt(0) : selection.createRange();

          //prepare new range selection

          var startingCaretPosition = range.startOffset;

          //place the pasted content at the cursor position within
          //the div
          var $target = $(evt.target);
          var clipboard = evt.originalEvent.clipboardData ? evt.originalEvent.clipboardData.getData("text/plain") :
          window.clipboardData.getData("Text");
          var newText = $target.text().substring(0,range.startOffset) +
          clipboard +
          $target.text().substring(range.endOffset,$target.text().length);
          $target.text(newText);

          //create a new selection range so that the cursor is at the end
          //of the newly pasted content
          var targetNode = evt.target;
          if(window.getSelection) { // webkit
            if(evt.target.childNodes.length > 0)
              targetNode = evt.target.childNodes[0];
            var newRange = document.createRange();
            newRange.setStart(targetNode,startingCaretPosition+clipboard.length);
            newRange.setEnd(targetNode,startingCaretPosition+clipboard.length);
            if(selection.rangeCount > 0) selection.removeAllRanges();
              selection.addRange(newRange);
          } else { //IE
            if(evt.target.childNodes.length > 0) targetNode = evt.target.childNodes[0];

            var newRange = document.selection.createRange();
            newRange.moveToElementText(evt.target);
            newRange.setStart(targetNode,startingCaretPosition+clipboard.length);
            newRange.setEnd(targetNode,startingCaretPosition+clipboard.length);
            newRange.select();
          }
        }
    });

    // hide popover if click elsewhere on page
    $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
          $(this).popover('hide');
          }
          if (content_edited) {
              content_edited = false;
          }
          });
    });

    Dropzone.autoDiscover = false;

    refreshDescriptionDropZones();
    refreshGalleryDropZones();
    createAvatarDropZone('avatar-drop');
    createBkgDropZone('bkg-drop');
  }

$(function() {
    loadJS();
    });
</script>

{% endmacro %}
<!-- END MACROS -->

