
{% macro render_header_style(profile) %}
<style id="header_style">
h1, h2, h3, h4, h5 {
    color :  {{profile.colors[COLOR_HEADERS]}};
}
.panel-heading {
    color :  {{profile.colors[COLOR_HEADERS]}};
}
</style>
<style id="style_{{FONT_HEADERS}}">
h1, h2, h3, h4, h5 {
    font-family : {{profile.fonts[FONT_HEADERS]}};
}
.panel-heading {
    font-family : {{profile.fonts[FONT_HEADERS]}};
}
</style>
<style id="text_style">
p, td, tr, li {
  color :  {{profile.colors[COLOR_TEXT]}};
}
.panel-body {
  color :  {{profile.colors[COLOR_TEXT]}};
}
</style>
<style id="style_{{FONT_TEXT}}">
p, td, tr, li {
  font-family : {{profile.fonts[FONT_TEXT]}};
}
.panel-body {
  font-family : {{profile.fonts[FONT_TEXT]}};
}
</style>
<style id="links_style">
a:link { color :  {{profile.colors[COLOR_HEADERS]}}; }
a:hover { color :  {{profile.colors[COLOR_HEADERS]}}; }
button > a  { color :  {{profile.colors[COLOR_HEADERS]}}; }
.col-xs-4 > a  { color :  {{profile.colors[COLOR_HEADERS]}}; }
.btn-group > a  { color :  {{profile.colors[COLOR_HEADERS]}}; }
</style>
<style id="tabs_style">
.nav-pills>li {
  background-color :  {{profile.colors[COLOR_MAIN]}};
}
.nav-pills>li>a {
  color :  {{profile.colors[COLOR_HEADERS]}};
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color :  {{profile.colors[COLOR_HEADERS]}};
}
</style>
<style>
#maincontainer, #sidebar_container {
  background-color :  {{profile.colors[COLOR_MAIN]}};
}
a {
  color :  {{profile.colors[COLOR_MAIN]}};
}
#inner_container {
  background-color :  transparent;
}
.panel {
  background-color :  {{profile.colors[COLOR_INNER]}};
}
</style>
{% endmacro %}

{% macro render_avatarimg(header) %}
<img id="{{AVATAR_IMG}}" class="img-responsive img-circle neo-avatar-img" src="{{ header.get_avatar_url() }}">
{% endmacro %}

{% macro render_links_gallery(gallery) %}
{% for url in gallery.get_image_urls(debug=False)%}
		<a href="{{ url }}" title="{{ url }}" data-gallery>
				<img class="post" src="{{ url }}" alt="">
		</a>
{% endfor %}
{% endmacro %}

{% macro render_gallery(gallery) %}
		{% for i in range(0, gallery.get_tables()|length) %}
		<h3><a class="gallery-nav" data-toggle="tab">{{ gallery.get_table_names()[i] }}</a></h3>
		<div class="row gallery-links posts">
				{{ render_links_gallery(gallery.get_tables()[i]) }}
		</div>
		<div class="col-xs-12 hr fill-low-opacity"></div>
{% endfor %}
{% endmacro %}

{% macro imglink(link, number) %}
<!-- <button type="button" id="imglink_{{number}}" class="btn btn-xs btn-danger -->
		<!-- btn-editable-imglink" data-toggle="popover" data-placement="right"> -->
<button type="button" id="imglink_{{number}}" class="btn btn-xs btn-danger
		btn-editable-imglink" data-toggle="modal" data-target="#imglink_modal_{{number}}">
		<!-- <div class="dropzone imglink-drop" id="imglink-drop-{{number}}"> -->
				<img class="centered imglink-img img-responsive" src="{{ link.get_image_url() }}">
		<!-- </div> -->
</button>
{% endmacro %}

{% macro render_editable_imglinks(img_links) %}
{% for i in range(0, img_links|length) %}
<div class="col-xs-12 centered imglink-container">
				{{ imglink(img_links[i], i) }}
</div>
{% endfor %}

{% endmacro %}

{% macro render_popovers(profile) %}
{% for i in range(0, profile.sidebar.img_links|length) %}
<div id="imglink-popover-content-{{i}}" style="display: none;">
    <em>To Change Button Icon:</em></br></br>
    <p> drag and drop file onto picture <span class="glyphicon glyphicon-arrow-right" aria=hidden="true"></span> </p>
    <div class="col-xs-12 fill hr"></div>
    <em>To Change Button URL:</em>
    <div class="input-group">
        <span class="input-group-addon">URL</span>
        <input type="text" id="input-imglink-href-{{i}}"
        class="form-control" placeholder="{%if
        profile.sidebar.img_links[i].link_url %}{{ profile.sidebar.img_links[i].link_url }}{% else %}enter url here (optional){% endif %}">
        </span>
    </div>
    <div class="col-xs-12 hr"></div>
    <p style="text-align:center'">
        <button id="btn_imglink_submit_{{number}}" class="btn btn-default
            btn-imglink-submit" type="button"
            onclick="Sijax.request('update_imglink', [{
                'num': {{i}},
                'href': $('#input-imglink-href-{{i}}').val()
            }]);">submit</button>
        <button id="btn-imglink-delete-{{i}}" class="btn btn-danger btn-imglink-delete" type="button" 
            onclick="Sijax.request('del_imglink', [{ 'num': {{i}} }]);">delete</button>
    </p>
</div>

<div id="imglink-popover-title-{{i}}" style="display: none;">
    <h4>Edit ImageLink</h4>
</div>

<script type="text/javascript">
$(function() {
    $('#imglink_{{i}}').popover({
        html : true, 
        content: function() {
            return $("#imglink-popover-content-{{i}}").html();
        },
        title: function() {
            return $("#imglink-popover-title-{{i}}").html();
        },
    });

    var myDropzone = new Dropzone('#imglink-drop-{{i}}', {
        url: "/upload/",
        method: "POST",
        paramName: "file",
        uploadMultiple: false,
        addRemoveLinks: false,
        createImageThumbnails: false,
        maxThumbnailFilesize: 2,
        maxFiles: 1,
        acceptedFiles: "image/png, image/jpeg, image/gif",
        autoProcessQueue: true,
        forceFallback: false,
        clickable: false,
        dictDefaultMessage: '',
        previewTemplate: '<div id="preview-template" style="display: none;"></div>'
    });

    myDropzone.on("success", function(file, response) {
        Sijax.request('update_imglink_image', [{
            'num' : {{i}},
            'files': response['files']
        }]);
    });

    myDropzone.on("complete", function(file) {
        myDropzone.removeAllFiles();
    });

});
</script>
{% endfor %}
{% endmacro %}

{% macro render_modals(profile) %}
{% for i in range(0, profile.sidebar.img_links|length) %}
		<div id="imglink_modal_{{i}}" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Edit Link</h4>
					</div>

					<div class="modal-body">
							<!-- <em>To Change Button Icon:</em></br></br> -->
							<!-- <img class="centered imglink-img img-responsive" src="{{ profile.sidebar.img_links[i].get_image_url() }}"> -->
							<!-- <div class="dropzone imglink-drop" id="imglink-drop-{{i}}"> </div> -->
							<!-- <div class="col-xs-12 fill hr"></div> -->
							<em>To Change Button URL:</em>
							<div class="input-group">
									<span class="input-group-addon">URL</span>
											<input type="text" id="input-imglink-href-{{i}}"
											class="form-control" placeholder="{%if
													profile.sidebar.img_links[i].link_url %}{{ profile.sidebar.img_links[i].link_url }}{% else %}enter url here (optional){% endif %}">
									</span>
							</div>
					</div>

					<div class="modal-footer">
							<button id="btn_imglink_submit_{{i}}" class="btn btn-default
									btn-imglink-submit" type="button"
									data-dismiss="modal"
									onclick="Sijax.request('update_imglink', [{
											'num': {{i}},
											'href': $('#input-imglink-href-{{i}}').val()
											}]);">submit
							</button>
							<button id="btn-imglink-delete-{{i}}" class="btn btn-danger btn-imglink-delete" type="button" 
											data-dismiss="modal"
											onclick="Sijax.request('del_imglink', [{ 'num': {{i}} }]);">delete
							</button>
					</div>
				</div>

			</div>
		</div>
{% endfor %}
{% endmacro %}

{% macro render_description_tabs(description, editable) %}
<ul class="list-group">
{% for i in range(0, description.tables.keys()|length) %}
<!-- <a class="btn btn-dark btn-lg panel-heading {% if i == 0 %}clicked{% endif %}" type="button" id="heading-{{i}}"> -->
<li class="list-group-item">
<a class="note-tab {% if i == 0 %}clicked{% endif %}" id="heading-{{i}}" href="#top">
		<span class="glyphicon glyphicon-play" aria=hidden="true"></span>
		{{ description.get_keys()[i] }}
</a>
</li>
{% endfor %}
</ul>
{% endmacro %}

{% macro render_description_content(description) %}
{% for i in range(0, description.tables.keys()|length) %}
<div id="description-{{i}}" class="description-panel {% if i != 0 %}hidden{% endif %}">
		<div class="col-md-8 description-img-well">
				<div class="dropzone description-drop" id="description-drop-{{i}}">
						<div class="dz-message">

								<div style="padding-bottom:50px">
										{% if description.get_tables()[i].get_image_links()[0] %}
										<img class="img-description img-description-edit img-responsive centered" src="{{description.get_tables()[i].get_image_links()[0]}}">
										{% else %}
										<img class="img-description img-description-edit img-responsive centered" src="{{url_for('static', filename='img/nothing.jpg')}}">
										{% endif %}
								</div>

								<span class="glyphicon glyphicon-picture" aria=hidden="true"></span>
								<em> Click or Drop file to add image to Note</em>
						</div>
				</div>
		</div>
		<div class="col-md-4 fill-low-opacity">

				<button class="btn-xs btn-danger pull-right btn-delete-description"
						id="btn-delete-description-{{i}}" type="button"
						contenteditable="False">
						Delete <span class="glyphicon glyphicon-remove" aria=hidden="true"></span>
				</button>

				<h3 id="description-title-{{i}}" class="description-title" contenteditable="True">{{ description.get_keys()[i] }}</h3>
				<p id="description-body-{{i}}" class="description-body text-editable" contenteditable="True">{{ description.get_tables()[i].get_text() }}</p>
		</div>
</div>
{% endfor %}
{% endmacro %}
