{% import "profiles/_editable.html" as econtent with context %}
{% import "profiles/_content.html" as content with context %}
{% extends "profiles/detail.html" %}

{% block title %}
{{ profile.username }}
{% endblock %}

{%- block styles-%}
<link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.css" rel='stylesheet' type="text/css">
<link href= "https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.0/spectrum.min.css" rel='stylesheet' type="text/css">
{{ super() }}
<link href={{ url_for('static', filename='css/fontselect.css') }} rel='stylesheet' type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/basic.min.css" rel='stylesheet' type="text/css">
<style>
.panel-heading:hover {
  background-color : inherit;
}
</style>
{%- endblock -%}

{% block page_header %}
<div class="collapse" id="collapseExample">
  <div class="container container-fluid">
    <div class="jumbotron tool-panel">
      <div class="row">
        <div class="col-lg-4">
            <h3>colors</h3>
            <input type='text' class="basic" id="{{BKG_COLOR}}"/>
            <input type='text' class="basic" id="{{COLOR_MAIN}}"/>
            <input type='text' class="basic" id="{{COLOR_INNER}}"/>
            <input type='text' class="basic" id="{{COLOR_HEADERS}}"/>
            <input type='text' class="basic" id="{{COLOR_TEXT}}"/>
        </div>
        <div class="col-lg-4">
          <h3>background</h3>
          <div class="col-lg-12 bkg-drop dropzone" id="bkg-drop">
            <div class="dz-message">
              <span class="glyphicon glyphicon-picture" aria=hidden="true"></span>
              <em> Drop file to change Background</em>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <h3>fonts</h3>
          <input id="{{FONT_HEADERS}}" type="text" />
          <input id="{{FONT_TEXT}}" type="text" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-xs-1 fill" id="sidebar_container" style="margin-right:10px;">
  {{ content.render_sidebar(profile.sidebar, true) }}
  <p style="text-align:center;">
    <button id="btn_sidebar_add_link" class="btn btn-default">
      <span class="glyphicon glyphicon-plus" aria=hidden="true"></span>
    </button>
  </p>
  <div class="col-xs-12 hr"></div>
</div>
{% endblock %}

{% block maincontainer %}
<div class="col-xs-10 fill" id="maincontainer">
{% endblock %}

{%- block header -%}
<div class="col-xs-12">
<div class="btn-toolbar" role="toolbar" aria-label="...">
  <div class="btn-group btn-group-lg">
    <a class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <span class="glyphicon glyphicon-edit" aria=hidden="true"></span> Edit Style
    </a>
  </div>
  <div class="btn-group btn-group-lg">
    <a id="btn_saveprofile" class="btn btn-dark" href="{{
      url_for('profiles.detail', slug=profile.username) }}"> <span class="glyphicon glyphicon-ok" aria=hidden="true"></span> Save</a>
    <a id="btn_discard" class="btn btn-dark" href="{{ url_for('profiles.detail', slug=profile.username) }}"> <span class="glyphicon glyphicon-remove" aria=hidden="true"></span> Discard Changes</a>
  </div>
</div>
{{ content.render_header(profile.header, true) }}
{%- endblock -%}

{%- block notes -%}
{{ content.render_notes(profile.notes, true) }}
{%- endblock -%}

{%- block description -%}
{{ content.render_description(profile.description, true) }} 
<div class="col-xs-12 fill hr"> </div>
{%- endblock -%}

{%- block gallery -%}
{{ econtent.render_editablegallery(profile.gallery) }}
{%- endblock -%}

{%- block footer-%}
<footer>
    <div class="row">
        <div class="col-xs-12">
            <p>&copy {{ profile.username }}</p>
        </div>
    </div>
</footer>
{% endblock %}

{%- block modals -%}
<div id="modals">
</div>
{% endblock %}

{%- block popovers -%}
<div id="popovers">
{{ content.render_popovers(profile) }}
</div>
{% endblock %}

{% block js_header %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src={{url_for('static', filename="js/sijax/sijax.js") }}></script>
<script type="text/javascript" src={{url_for('static', filename="js/jquery.fontselect.min.js") }}></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.0/spectrum.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js"></script>
<script type="text/javascript">
{{ g.sijax.get_js()|safe }}

</script>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: [
      {% for key in profile.fonts.keys() %}
        {% if profile.fonts[key]|length > 0 %}
          '{{ profile.fonts[key] }}',
        {% endif %}
      {% endfor %}
      ]
    }
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<script type="text/javascript">
{{ g.sijax.get_js()|safe }}
</script>
<script src={{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }} type="text/javascript"></script>
<script type="text/javascript">

$(function() {
    function set_color(id, color) {
      if (id == '{{ BKG_COLOR }}') {
        $('body').css("background", color);

      } else if (id == '{{ COLOR_MAIN }}') {
        $('#sidebar_container').css("background-color", color);
        $('#maincontainer').css("background-color", color);

      } else if (id == '{{ COLOR_INNER }}') {
        $('.panel').css("background-color", color);
        $('.panel-heading').css("background-color", color);
      } else if (id == '{{ COLOR_HEADERS }}') {
        document.getElementById('header_style').innerHTML = "h1, h2, h3, h4, h5 { color :" + color + "}";
        $('.gallery_tab_li').css("color", color);
        $('.panel-heading:hover').css("background-color", color);
        $("alink").css("color", color);
        $("a:hover").css("color", color);
        $("button > a").css("color", color);
        $(".col-xs-4 > a").css("color", color);
        $(".btn-group > a").css("color", color);

      }
      else if (id == '{{ COLOR_TEXT }}') {
        document.getElementById('text_style').innerHTML = "p, td, tr { color :" + color + "}";
        $('.list-group-item').css("color", color);
        $('.nav-pills>li').css("color", color);
        $('.nav-pills>li.active').css("color", color);
      }
    }
    $('#{{ BKG_COLOR }}').spectrum({
        change: function(color) {
        this.changed = true;
        Sijax.request('change_bkg', [ {
          url : '',
          color: color.toRgbString()
          } ]);
        },
        color:'{{ profile.bkg_color }}',
        move: function(color) {
          set_color(this.id, color.toRgbString());
        },
        hide: function(color) {
          if (!this.changed) {
          this.color = '{{ profile.bkg_color }}';
          set_color(this.id, this.color);
        }
      },
    });

    {% for key in profile.colors.keys() %}
    $('#{{ key }}').spectrum({
        showAlpha: true,
        change: function(color) {
        this.changed = true;
        Sijax.request('change_color', [ {
          'color': this.id,
          'value': color.toRgbString(),
          } ]);
        },
        color:'{{ profile.colors[key] }}',
        move: function(color) {
        set_color(this.id, color.toRgbString());
        },
        hide: function(color) {
        if (!this.changed) {
        this.color = '{{ profile.colors[key]}}';
        set_color(this.id, this.color);
        }
      },
    });
    {% endfor %}
    {% for key in profile.fonts.keys() %}
    $('#{{ key }}').fontselect().change(function(){
        var font = $(this).val().replace(/\+/g, ' ');
        font = font.split(':');
        if (this.id == '{{ FONT_HEADERS }}') {
          document.getElementById('style_{{ key }}').innerHTML = "h1, h2, h3, h4, h5 { font-family :" + font[0] + "}";
          $('.panel-heading').css("font-family", font[0]);
        } else if (this.id == '{{ FONT_TEXT }}') {
          document.getElementById('style_{{ key }}').innerHTML = "p, td, tr { font-family :" + font[0] + "}";
          $('.panel-body').css("font-family", font[0]);
        }
        Sijax.request('change_font', [ {
          'font': '{{ key }}',
          'value': font[0]
          } ]);
    });
    {% endfor %}
});
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.min.js"></script> 
<script type="text/javascript" src={{url_for('static', filename="js/editable.js") }}></script>

{% endblock %}
