{% extends "base.html" %}

{% block content %}
<div class="row">

    <div class="col-sm-8 col-sm-offset-2 content-box">

        <h1 class="text-center">{{ title }}</h1>

        {% if profiles|length == 0 %}

            <h2>Nothing to see here.</h2>

        {% else %}

        <ul class="list-group">
            {% for profile in profiles %}
            <li class="list-group-item fill" style="overflow:hidden; margin:2px">
                <span class="badge">
                    <img style="max-width:64px" src="{{ profile.header.get_avatar_url() }}">
                </span>
                <a href="{{ url_for('profiles.detail', slug=profile.username) }}">
                    <h3>{{ profile.header.title }}</h3>
                </a>
                <p>
                    {{ profile.header.body }}
                </p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>


</div>
{{ super() }}
{% endblock %}
