{% extends "base.html" %}

{% block content %}
<div class="row">

    <div class="col-sm-8 col-sm-offset-2 content-box-2">

        <h1 class="text-center">{{ title }}</h1>

        {% if profiles|length == 0 %}

            <h2>Nothing to see here.</h2>

        {% else %}
            <div class="list-group">
                {% for profile in profiles %}
                <li class="list-group-item controlpanel-list">
                <div class="col-xs-12">
                    <div class="media">
                        <div class="media-left">
                            <a href="{{ url_for('profiles.detail', slug=profile.username) }}">
                                <img class="media-object img-circle" src="{{ profile.header.get_avatar_url() }}" width="64px" height="64px">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ profile.username }}</h4>
                            {{ profile.header.body }}
                        </div>
                    </div>
                </div>
                </li>
                {% endfor %}
            </div>
        {% endif %}
    </div>


</div>
{{ super() }}
{% endblock %}
