{% import "profiles/_content.html" as content with context %}
{% import "profiles/_neo.html" as neo with context %}
{% extends "base.html" %}

{% block title %}
{{ profile.username }}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blueimp-gallery.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/neo.css') }}">
{{ neo.render_header_style(profile) }}
{% endblock %}

{% block topbar %}
{% endblock %}

{% block body_attribs %}
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" id="neo-nav">
		<div class="container-fluid" id="neo-nav-container">
				<!-- Nav links -->
				<div class="collapse navbar-collapse" id="neonavbar">
						<ul class="nav navbar-nav navbar-right">
								{% if not dropbox.is_authenticated %}
								<li> <a href="{{dropbox.login_url}}">login with dropbox</a> </li>
								{% else %}
								<li> <a href="{{ url_for('users.controlpanel')}}">{{dropbox.account_info['email']}}</a></li>
								<li><a href="{{dropbox.logout_url}}">logout</a> </li>
								{% endif %}

						</ul>
				</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div id="top" class="container container-fluid">
		<div class="row">
				<div class="col-md-1 sidebar">
						<p style="text-align: center">
						<div class="col-xs-12">
								<div id="avatar" class="centered">
								{{ neo.render_avatarimg(profile.header) }}
								</div>
						</div>

						<div class="col-xs-12 hr fill-low-opacity"></div>
						{% for i in range(0, profile.sidebar.img_links|length, 3) %}
						<div class="col-xs-12 centered">
								<div class="col-xs-4 imglink-container">
										{% if i < profile.sidebar.img_links|length %}
												<a type="button" class="btn btn-imglink" href="{{ profile.sidebar.img_links[i].link_url }}">
														<img class="centered imglink-img img-responsive" src="{{ profile.sidebar.img_links[i].get_image_url() }}">
												</a>
										{% endif %}
								</div>
								<div class="col-xs-4 imglink-container">
										{% if i+1 < profile.sidebar.img_links|length %}
												<a type="button" class="btn btn-imglink" href="{{ profile.sidebar.img_links[i+1].link_url }}">
														<img class="centered imglink-img img-responsive" src="{{ profile.sidebar.img_links[i+1].get_image_url() }}">
												</a>
										{% endif %}
								</div>
								<div class="col-xs-4 imglink-container">
										{% if i+2 < profile.sidebar.img_links|length %}
												<a type="button" class="btn btn-imglink" href="{{ profile.sidebar.img_links[i+2].link_url }}">
														<img class="centered imglink-img img-responsive" src="{{ profile.sidebar.img_links[i+2].get_image_url() }}">
												</a>
										{% endif %}
								</div>
						</div>
						{% endfor %}

						<div class="col-xs-12 hr fill-low-opacity"></div>

						<div id="left-sidebar-tabs">
								{% if profile.description.tables.keys()|length > 0 %}
								<div class="col-xs-12">
										<h4>Notes</h4>
										{{ neo.render_description_tabs(profile.description) }}
								</div>
								{% endif %}
								<div class="col-xs-12">
										<h4>Galleries</h4>

										<ul class="list-group">
										{% for name in profile.get_gallery_names() %}
												<li class="list-group-item">
														<a href="#gallery-{{loop.index}}">
														<span class="glyphicon glyphicon-picture" aria=hidden="true"></span>
														{{ name }}
														</a>
												</li>
												{% endfor %}
										</ul>

								</div>
						</div>

						</p>
				</div>

				<div class="col-md-11 col-md-offset-1 content">
						<div class="container" id="container-content">
								{% if is_me %}
								<div id="edit-profile-buttons" class="col-xs-12">
										<a class="btn btn-dark btn-lg btn-sidebar pull-right" type="button" href="{{ url_for('profiles.edit', slug=profile.username) }}">
												<span class="glyphicon glyphicon-edit" aria=hidden="true"></span>
												Edit Profile
										</a>
								</div>
								{% endif %}

								<div class="row">
										<div class="col-xs-12 fill-mid-opacity" id="header">
												<h1 id="{{HEADER_TITLE}}" class="text-editable">{{ profile.header.title }}</h1>
												<h4 id="{{HEADER_BODY}}" class="text-editable">{{ profile.header.body }}</h4>
										</div>
								</div>

								<div class="col-xs-12 hr fill-low-opacity"></div>
								<div class="col-xs-12 hr"></div>

								<div class="row">
										{% for i in range(0, profile.description.tables.keys()|length) %}
										<div id="description-{{i}}" class="description-panel {% if i != 0 %}hidden{% endif %}">
												<div class="col-md-8 description-img-well">
														{% if profile.description.get_tables()[i].get_image_links()[0] %}
														<img class="img-description img-responsive centered" src="{{profile.description.get_tables()[i].get_image_links()[0]}}">
														{% else %}
														<img class="img-description img-responsive centered" src="{{url_for('static', filename='img/bkg.jpg')}}">
														{% endif %}
												</div>
												<div class="col-md-4 fill-low-opacity">
														<h3>{{ profile.description.get_keys()[i] }}</h3>
														<p class="text-editable">{{ profile.description.get_tables()[i].get_text() }}</p>
												</div>
										</div>
										{% endfor %}
								</div>
								<div class="row">
										<div class="col-xs-12 hr fill-low-opacity"></div>
								</div>
								<div class="row">
										<div class="col-xs-12">
												{% for gallery in profile.get_galleries() %}
														<div id="gallery-{{loop.index}}">
														{{ neo.render_gallery(gallery) }}
														</div>
												{% endfor %}
										</div>
								</div>
						</div> <!-- END container -->
				</div> <!-- END col-xs-11 -->
		</div> <!-- END row -->
</div> <!-- END container -->

<!-- blueimp -->
<div id="blueimp-gallery" class="blueimp-gallery">
		<!-- The container for the modal slides -->
		<div class="slides"></div>
		<!-- Controls for the borderless lightbox -->
		<h3 class="title"></h3>
		<a class="prev">‹</a>
		<a class="next">›</a>
		<a class="close">×</a>
		<a class="play-pause"></a>
		<ol class="indicator"></ol>
		<!-- The modal dialog, which will be used to wrap the lightbox content -->
		<div class="modal fade">
				<div class="modal-dialog">
						<div class="modal-content">
								<div class="modal-header">
										<button type="button" class="close" aria-hidden="true">&times;</button>
										<h4 class="modal-title"></h4>
								</div>
								<div class="modal-body next"></div>
								<div class="modal-footer">
										<button type="button" class="btn btn-default pull-left prev">
												<i class="glyphicon glyphicon-chevron-left"></i>
												Previous
										</button>
										<button type="button" class="btn btn-primary next">
												Next
												<i class="glyphicon glyphicon-chevron-right"></i>
										</button>
								</div>
						</div>
				</div>
		</div>
</div> <!-- END blueimp -->

{% endblock %} <!-- END block content -->

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js"></script>

<script>
WebFont.load({
google: {
families: [
{% for key in profile.fonts.keys() %}
{% if profile.fonts[key]|length > 0 %}
'{{ profile.fonts[key] }}',
{% endif %}
{% endfor %}
]
}
});
</script>
<script src={{ url_for('static', filename='js/blueimp-gallery.min.js') }} type="text/javascript"></script>
<script src={{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }} type="text/javascript"></script>
<script src={{ url_for('static', filename='js/detail.js') }} type="text/javascript"></script>

<script>
$(function() {
				$('.note-tab').on('click', function() {
						var toks = $(this).attr('id').split('-');
						var id = parseInt(toks[toks.length-1]);

						var panels = $('.description-panel');
						for (var idx = 0; idx < panels.length; idx++) {
							$(panels[idx]).addClass('hidden');
							$(panels[idx]).removeClass('active');
						}
						$(panels[id]).removeClass('hidden');
						$(panels[id]).addClass('active');

						var buttons = $('.note-tab');
						for (var idx = 0; idx < buttons.length; idx++) {
							$(buttons[idx]).removeClass('clicked');
						}
						$(this).toggleClass("clicked");
				})

				//$('#imglinks').affix({
				//	offset: {
				//		top: 55
				//	}
				//});

				//var $body   = $(document.body);
				//var navHeight = $('.navbar').outerHeight(true) + 10;

				//$body.scrollspy({
				//	target: '#imglink_col',
				//	offset: navHeight
				//});
});
</script>
{% endblock %}
